<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Utils/src/LogChk.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="LogChk"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="https://bsib-stag-sso/IntegralAsiaWeb/ pagarwal4 pagarwal4 &quot;INTEGRAL Admin&quot; userid password loginId"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Utils"/>
</launchConfiguration>
